{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        
        {% block css %}{% endblock %} 

        {% block head %}
        <title>Elasstv - movie</title>
        {% endblock %}

    </head>


    <body id="page-top">

		{% block body %}
		
		{% include 'header-movie.html' %}

        <div id="sidebar-bg">
				  
				  <main id="col-main">
					  
					  <div class="dashboard-container">
						 
						  
						  <div class="container-fluid">
							  <div class="row">
							  
								  
									  <form class="account-settings-form">
								  
									  <h5>{{ friend.username }} informations</h5>
									  <ul>
									  	<li>Last time logged: {{ friend.last_login }}</li>
									  	<li>First name: {{ friend.first_name }}</li>
									  	<li>Last name: {{ friend.last_name }}</li>
 									  	<li>email: {{ friend.email }}</li>
									  	<li>Joined since the: {{ friend.date_joined }}</li>
									  </ul>									
				
							  </div>
						  </div>
								  
					  </div>
				  </main>
				  
				  
				  </div>
				  
    	{% endblock %}

        {% block pre-footer %}
    
    	{% endblock %}

        {% include 'footer.html' %}

    </body>


</html>
