{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        
        {% block css %}{% endblock %} 

        {% block head %}
        <title>Elasstv - movie</title>
        {% endblock %}

    </head>


    <body id="page-top">

		{% block body %}
		
		{% include 'header-movie.html' %}

        <div id="sidebar-bg">
					<div id="content-sidebar-pro">
			
						<div id="content-sidebar-info">
							<img src="{% static 'accounts/images/profile-image-sidebar.jpg' %}" alt="profile-image">
							<div id="profile-sidebar-name">
								<h6>Logged as :</h6>
								<h5>{{user.username}}</h5>
							</div>
							<div id="profile-sidebar-gradient"></div>
							<a href="/accounts/settings" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
						</div>
						
						<div class="content-sidebar-section">
							<h3 class="content-sidebar-sub-header">Friend{{ nb_friends|pluralize }}: {{ nb_friends }}</h3>
							
							<div class="clearfix"></div>
							<p><a href="{% url 'accounts:list_users' %}" class="btn btn-green-pro">Look for a friend!</a></p>
						</div><!-- close .content-sidebar-section -->
						
						<div class="content-sidebar-section">
							<h3 class="content-sidebar-sub-header">Friends Activity</h3>
							<ul id="friends-activity-feed">
								<li><img src="images/demo/user-15.jpg" alt="Friend">Added <a href="#!">Interstellar</a> to her Favorite Playlist</li>
								<li><img src="images/demo/user-8.jpg" alt="Friend">Wants to Watch <a href="#!">The Imitation Game</a></li>
								<li><img src="images/demo/user-9.jpg" alt="Friend">Added <a href="#!">Moonlight</a> to his <a href="#!">Playlist Best Dramas</a></li>
								<li><img src="images/demo/user-4.jpg" alt="Friend">Watched <a href="#!">Transformers: The Last Knight</a></li>
							</ul>
							<div class="clearfix"></div>
						</div><!-- close .content-sidebar-section -->
						
						
					</div><!-- close #content-sidebar-pro -->
				
					<main id="col-main-with-sidebar">
							<div class="dashboard-container">
									<!-- Nav tabs -->

									<ul class="dashboard-sub-menu nav nav-tabs" role="tablist">
									  <li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#favorites">Favorites</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#watchlist">Watchlist</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#friends">Friends</a>
										</li>
									</ul>
								  
									<!-- Tab panes -->
									<div class="tab-content">
									  <div id="favorites" class="container tab-pane active"><br>

										<div class="row">
												{% for mov in popular_movies%}
                									<div class="col-12 col-md-6 col-lg-4 col-xl-3">
                									    <div class="item-listing-container-skrn">
                									        <a href="/movies/{{mov.id}}/detail"><img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{mov.poster_path}}" alt="Listing"></a>
                									        <div class="item-listing-text-skrn">
                									            <div class="item-listing-text-skrn-vertical-align"><h6><a href="/movies/{{mov.id}}/detail">{{mov.title}}</a></h6>
                									              <div
                									                class="circle-rating-pro"
                									                data-value="0.86"
                									                data-animation-start-value="0.86"
                									                data-size="32"
                									                data-thickness="3"
                									                data-fill="{
                									                  &quot;color&quot;: &quot;#2325c2  &quot;
                									                }"
                									                data-empty-fill="#def6de"
                									                data-reverse="true"
                									              ><span style="color:#2325c2  ;">{{mov.vote_average}}</span></div>
                									            </div>  
                									        </div>  
                									    </div>  
                									</div>  
												{% endfor %} 
												
											</div><!-- close .row -->

									  </div>

									  <div id="watchlist" class="container tab-pane fade"><br>


										<div class="row">
												{% for mov in popular_movies%}
                									<div class="col-12 col-md-6 col-lg-4 col-xl-3">
                									    <div class="item-listing-container-skrn">
                									        <a href="/movies/{{mov.id}}/detail"><img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{mov.poster_path}}" alt="Listing"></a>
                									        <div class="item-listing-text-skrn">
                									            <div class="item-listing-text-skrn-vertical-align"><h6><a href="/movies/{{mov.id}}/detail">{{mov.title}}</a></h6>
                									              <div
                									                class="circle-rating-pro"
                									                data-value="0.86"
                									                data-animation-start-value="0.86"
                									                data-size="32"
                									                data-thickness="3"
                									                data-fill="{
                									                  &quot;color&quot;: &quot;#2325c2  &quot;
                									                }"
                									                data-empty-fill="#def6de"
                									                data-reverse="true"
                									              ><span style="color:#2325c2  ;">{{mov.vote_average}}</span></div>
                									            </div>  
                									        </div>  
                									    </div>  
                									</div>  
												{% endfor %} 
												
											</div><!-- close .row -->

									  </div>
									  <div id="friends" class="container tab-pane fade"><br>

										<p>
											<ul>
												{% for friend in friends%}
												<li>
												<a href="{% url 'accounts:friend_infos' friend.id %}">{{ friend.username }}</a>
												<a href="{% url 'accounts:delete_friend' friend.id %}" class="btn btn-green-pro">Delete this friend</a></li>
												{% endfor %}
											</ul>
										</p>


									  </div>
									</div>
							
						</div><!-- close .dashboard-container -->
					
			
			
				</main>
			
					
				</div>  
    	{% endblock %}

        {% block pre-footer %}
    
    	{% endblock %}

        {% include 'footer.html' %}

    </body>


</html>
