{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        
        {% block css %}{% endblock %} 

        {% block head %}
        <title>Elasstv - movie</title>
        {% endblock %}

    </head>


    <body id="page-top">

		{% block body %}
		
		{% include 'header-movie.html' %}

        <div id="sidebar-bg">
					<div id="content-sidebar-pro">
			
						<div id="content-sidebar-info">
							<img src="{% static 'accounts/images/profile-image-sidebar.jpg' %}" alt="profile-image">
							<div id="profile-sidebar-name">
								<h6>Logged as :</h6>
								<h5>{{user.username}}</h5>
							</div>
							<div id="profile-sidebar-gradient"></div>
							<a href="/accounts/settings" class="edit-profile-sidebar"><i class="fas fa-pencil-alt"></i></a>
						</div>
						
						<div class="content-sidebar-section">
							<h3 class="content-sidebar-sub-header">Friend{{ nb_friends|pluralize }}: {{ nb_friends }}</h3>
							<ul id="friends-activity-profiles">

									{% for friend in friends%}
											<li><a href="{% url 'accounts:friend_infos' friend.id %}">
												<figure>
													<img src="{% static 'images/user-profile-2.jpg' %}" alt="{{ friend.username }}"><figcaption> {{ friend.username }} </figcaption> </figure> </a></li>
									{% endfor %}	
								
								</ul>
							
							<div class="lookup-friend-side"> <a data-toggle="tab" href="#friends" class="btn btn-green-pro">Look for a friend!</a>
							</div>
							<div class="clearfix"></div>
							</div>
						
						<div class="content-sidebar-section">
							<h3 class="content-sidebar-sub-header">Friends Notifications</h3>
							<ul id="friends-activity-feed">
									{% for friendship in friend_requests %}
									<li>
											
											<a>
											<img src="{% static 'images/user-profile-2.jpg' %}" alt="Profile">
											<strong>{{ friendship.source_user.user.username }}</strong> wants to be your friend  </a>

											<div class="notify-button-side row">
													<div class="notif col-xs-6">
													<a href="{% url 'accounts:accept_or_refuse' friendship.id 1 %}" class="btn btn-accept button-notif">Accept</a> </div>
													<div class="notif col-xs-6">
													 <a href="{% url 'accounts:accept_or_refuse' friendship.id 2 %}" class="btn btn-refuse button-notif">Refuse</a></div>
													</div>
									</li>
									{% endfor %}</ul></ul>
							<div class="clearfix"></div>
						</div>
						
						
					</div>
				
					<main id="col-main-with-sidebar">
							<div class="dashboard-container">
									<!-- Nav tabs -->
									
									<ul class="dashboard-sub-menu nav nav-tabs" role="tablist">
									  <li class="nav-item">
										{% if u is None %}
										<a class="nav-link active" data-toggle="tab" href="#favorites">Favorites</a>
										{% else %}
										<a class="nav-link" data-toggle="tab" href="#favorites">Favorites</a>
										{% endif%}
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#watchlist">Watchlist</a>
									  </li>
									  <li class="nav-item">
										{% if u is None %}
										<a class="nav-link" data-toggle="tab" href="#friends">Friends</a>
										{% else %}
										<a class="nav-link active" data-toggle="tab" href="#friends">Friends</a>
										{% endif%}
										</li>
									</ul>
									

									<!-- Tab panes -->
									<div class="tab-content">
											{% if u is None %}
										<div id="favorites" class="container tab-pane active"><br>
											{% else %}
											<div id="favorites" class="container tab-pane fade"><br>
											{% endif%}

										<div class="row">
												{% for mov in popular_movies%}
                									<div class="col-12 col-md-6 col-lg-4 col-xl-3">
                									    <div class="item-listing-container-skrn">
                									        <a href="/movies/{{mov.id}}/detail"><img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{mov.poster_path}}" alt="Listing"></a>
                									        <div class="item-listing-text-skrn">
                									            <div class="item-listing-text-skrn-vertical-align"><h6><a href="/movies/{{mov.id}}/detail">{{mov.title}}</a></h6>
                									              <div
                									                class="circle-rating-pro"
                									                data-value="0.86"
                									                data-animation-start-value="0.86"
                									                data-size="32"
                									                data-thickness="3"
                									                data-fill="{
                									                  &quot;color&quot;: &quot;#2325c2  &quot;
                									                }"
                									                data-empty-fill="#def6de"
                									                data-reverse="true"
                									              ><span style="color:#2325c2  ;">{{mov.vote_average}}</span></div>
                									            </div>  
                									        </div>  
                									    </div>  
                									</div>  
												{% endfor %} 
												
											</div>

									  </div>

									  <div id="watchlist" class="container tab-pane fade"><br>


										<div class="row">
												{% for mov in popular_movies%}
                									<div class="col-12 col-md-6 col-lg-4 col-xl-3">
                									    <div class="item-listing-container-skrn">
                									        <a href="/movies/{{mov.id}}/detail"><img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{mov.poster_path}}" alt="Listing"></a>
                									        <div class="item-listing-text-skrn">
                									            <div class="item-listing-text-skrn-vertical-align"><h6><a href="/movies/{{mov.id}}/detail">{{mov.title}}</a></h6>
                									              <div
                									                class="circle-rating-pro"
                									                data-value="0.86"
                									                data-animation-start-value="0.86"
                									                data-size="32"
                									                data-thickness="3"
                									                data-fill="{
                									                  &quot;color&quot;: &quot;#2325c2  &quot;
                									                }"
                									                data-empty-fill="#def6de"
                									                data-reverse="true"
                									              ><span style="color:#2325c2  ;">{{mov.vote_average}}</span></div>
                									            </div>  
                									        </div>  
                									    </div>  
                									</div>  
												{% endfor %} 
												
											</div>

										</div>
										{% if u is None %}
										<div id="friends" class="container tab-pane">
												{% else %}
												<div id="friends" class="container tab-pane active">
														{% endif%}
											
											<br>
											<div class="row row-eq-height">

												<div class="col-sm-3 col-md-6 friend-list-col">

													
														<h5>List of friends :</h5>

								  
																<ul style="list-style: none;">
																{% for other in other_users %}
																	{% if other.id in friend_ids %}
																		<li> <a href="{% url 'accounts:friend_infos' other.id %}" class="a-friend">{{other.username}}</a> 
																			<a href="{% url 'accounts:delete_friend' other.id %}" class="btn btn-delete">Delete this friend</a>
																			</li>
																	{% else %}								
																		<li> <a href="{% url 'accounts:friend_infos' other.id %}" class="a-friend">{{other.username}}</a>
																		<a href="{% url 'accounts:friend_request' other.id%}" class="btn btn-send">Send a friend request</a>
																		</li>
																	{% endif %}									
																{% endfor %}
																</ul>
						
											</div>

											<div class="col-sm-3 col-md-6">
												
													<h5>Find a friend :</h5>
													<form method="get">
														<input id='u'  name='u' type="text" placeholder="Enter the username" aria-label="Search">
														</form>
														<br>
														{% if u is None %}
														{% else %}
														<h5>Search result:</h5>
														{% endif%}

														{% for user in search%}
														<a href="{% url 'accounts:friend_infos' user.id %}" class="a-friend">{{ user.username }}</a>
														{% endfor %}

												</div>


										</div>
										
									</div>
							
						</div>
					
			
			
				</main>
			
					
				</div>  
    	{% endblock %}

        {% block pre-footer %}
    
    	{% endblock %}

        {% include 'footer.html' %}

    </body>


</html>
