{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        
        {% block css %}{% endblock %} 

        {% block head %}
        <title>Elasstv - movie</title>
        {% endblock %}

    </head>


    <body id="page-top">

		{% block body %}
		
		{% include 'header-movie.html' %}

        <div id="sidebar-bg">
				  
				  <main id="col-main">
					  
					  <div class="dashboard-container">
						  
						  <ul class="dashboard-sub-menu">
							  <li class="current"><a href="dashboard-account.html">Forgot Your Password?</a></li>
						  </ul><!-- close .dashboard-sub-menu -->
						  
						  <div class="container-fluid">
							  <div class="row">
							        <div class="col-12  col-lg-3">
									    <div id="account-edit-photo">
										  <div><img src="/static/accounts/images/password.png" alt="Password Image"></div>
									     </div>
								    </div>
								  <div class="col">
								  
                                    <form class="account-settings-form" method="POST">
                                        {% csrf_token %}
									  <h5>Reset your password</h5>
									  <p class="small-paragraph-spacing">Fill the form to reset your password.</p>
									  <div class="row">
										  <div class="col-sm">
												<div class="form-group">
												  <label for="new-password" class="col-form-label">New Password:</label>
                                                    <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1" placeholder="Minimum of 8 characters">
												</div>
										  </div><!-- close .col -->
                                          
										  <div class="col-sm">
												<div class="form-group">
												  <div><label for="confirm-password" class="col-form-label">&nbsp; &nbsp;</label></div>
													<input type="password" class="form-control" name="new_password2" required="" id="id_new_password2" placeholder="Minimum of 8 characters">
												</div>
										  </div><!-- close .col -->
                                          
									    </div>
                                        <ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
										
                                        <br>
                                        <button type="submit" class="btn btn-green-pro btn-display-block" >Change my password</button>
                                        <div class="clearfix"></div>
									  </form>
								  
								  </div><!-- close .col -->
							  
							  </div><!-- close .row -->
						  </div><!-- close .container-fluid -->
								  
					  </div><!-- close .dashboard-container -->
				  </main>
				  
				  
				  </div><!-- close #sidebar-bg-->
				  
    	{% endblock %}

        {% block pre-footer %}
    
    	{% endblock %}

        {% include 'footer.html' %}

    </body>


</html>
