{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        
        {% block css %}{% endblock %} 

        {% block head %}
        <title>Elasstv - movie</title>
        {% endblock %}

    </head>


    <body id="page-top">

		{% block body %}
		
		{% include 'header-movie.html' %}

        <div id="sidebar-bg">
				  
				  <main id="col-main">
					  
					  <div class="dashboard-container">
						  
						  <ul class="dashboard-sub-menu">
							  <li class="current"><a href="dashboard-account.html">Forgot Your Password?</a></li>
						  </ul><!-- close .dashboard-sub-menu -->
						  
						  <div class="container-fluid">
							  <div class="row">
							        <div class="col-12  col-lg-3">
									    <div id="account-edit-photo">
										  <div><img src="/static/accounts/images/password.png" alt="Password Image"></div>
									     </div>
								    </div>
								  <div class="col">
								  
									  <h5>Check your inbox.</h5>
									  <p class="small-paragraph-spacing">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
									  <hr>
										  <div class="clearfix"></div>
								  
								  </div><!-- close .col -->
							  
							  </div><!-- close .row -->
						  </div><!-- close .container-fluid -->
								  
					  </div><!-- close .dashboard-container -->
				  </main>
				  
				  
				  </div><!-- close #sidebar-bg-->
				  
    	{% endblock %}

        {% block pre-footer %}
    
    	{% endblock %}

        {% include 'footer.html' %}

    </body>


</html>
