
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
            <link rel="stylesheet" href="{% static 'icons/fontawesome/css/fontawesome-all.min.css' %}">  
            <link rel="stylesheet" href="{% static 'icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css' %}">  
            
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        
    

        {% block css %}{% endblock %} 
        {% block head %}
        <title>Elsasstv</title>
        {% endblock %}

    </head>


    <body id="page-top">

        

        {% block body %}
        {% include 'header.html' %}
        {% include 'login.html' %}


    	{% endblock %}

        {% block pre-footer %}
    
    	{% endblock %}

        {% include 'footer.html' %}

    </body>


</html>
