{% load static %}

<footer id="footer-pro">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="copyright-text-pro">&copy; Copyright 2019 Elsasstv. Made with love by AF students</div>
      </div>  
      <div class="col-md">
        <ul class="social-icons-pro">
          <li class="facebook-color"><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li class="twitter-color"><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li class="youtube-color"><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li class="vimeo-color"><a href="" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
      </div>  
    </div>  
  </div>  
</footer>

<a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>

  
<script src="{% static 'js/libs/jquery-3.3.1.min.js' %}"></script>  
<script src="{% static 'js/libs/popper.min.js' %}" ></script>  
<script src="{% static 'js/libs/bootstrap.min.js' %}" ></script>    

  
<script src="{% static 'js/navigation.js' %}" ></script>  
<script src="{% static 'js/jquery.flexslider-min.js' %}" ></script>  		
<script src="{% static 'js/script.js' %}" ></script>
<script src="{% static 'js/jquery-asRange.min.js' %}" defer></script>
<script src="{% static 'js/circle-progress.min.js' %}" defer></script>
<script src="{% static 'js/afterglow.min.js' %}" defer></script>
<script src="{% static 'js/script-dashboard.js' %}" defer></script>
{% if new_user.errors %} <script src="{% static 'js/LoginModal.js' %}" ></script> {% endif %}
{% if login_user.errors %} <script src="{% static 'js/RegisterModal.js' %}" ></script> {% endif %}