{% load static %}

<header id="masthead-pro">
  <div class="container">
    
    <h1><a href=""><img src="{% static 'images/logo.png' %}" alt="Logo"></a></h1>
    
    <nav id="site-navigation-pro">
      <ul class="sf-menu">
        <li class="normal-item-pro current-menu-item">
          <a href="">Home</a>
        </li>
        <li class="normal-item-pro">
          <a href="/movies">Movies</a>
        </li>
        <li class="normal-item-pro">
          <a href="movies">TV show (coming soon)</a>
        </li>
        
      </ul>
    </nav>
    
    <button class="btn btn-header-pro noselect" data-toggle="modal" data-target="#LoginModal" role="button">Sign In</button>   
    
    
    <div class="clearfix"></div>
  </div>  
  
</header>

