{% load static %}

<header id="videohead-pro" class="sticky-header">
    <div id="video-logo-background"><a href="/"><img src="{% static 'images/logo.png' %}" alt="Logo"></a></div>
    
    <div id="video-search-header">

        <form action="/search/" method="get">
        <input id='q'  name='q' type="text" placeholder="Search for Movies or TV Series" aria-label="Search">
        </form>
        
        <div id="video-search-header-filtering">
        </div>  
    </div>  
    
    
    {% if user.is_authenticated %}
    <div id="header-user-profile">
        <div id="header-user-profile-click" class="noselect">
                 <div id="header-username">Hi, {{user.username}}</div><i class="fas fa-angle-down"></i>
        </div>  
        <div id="header-user-profile-menu">
            <ul>
                <li><a href="/accounts/profile"><span class="icon-User"></span>My Profile</a></li>
                <li><a href="/accounts/profile"><span class="icon-Favorite-Window"></span>My Favorites</a></li>
                <li><a href="/accounts/settings"><span class="icon-Gears"></span>Account Details</a></li>
                <li><a href="/logout"><span class="icon-Power-3"></span>Log Out</a></li>
            </ul>
        </div>  
    </div> 
    
    
    <div id="header-user-notification">
        <div id="header-user-notification-click" class="noselect">
            <i class="far fa-bell"></i>
            <span class="user-notification-count">{{ nb_requests }}</span>
        </div>  
        <div id="header-user-notification-menu">
            <h3>Notifications</h3>
            <div id="header-notification-menu-padding">
                <ul id="header-user-notification-list">
                    {% for friendship in friend_requests %}
                    <li>
                        
                        <a>
                        <img src="{% static 'images/user-profile-2.jpg' %}" alt="Profile">
                        <strong>{{ friendship.source_user.user.username }}</strong> wants to be your friend  </a>

                        <div class="notify-button row">
                            <div class="notif col-xs-6">
                            <a href="{% url 'accounts:accept_or_refuse' friendship.id 1 %}" class="btn btn-accept button-notif">Accept</a> </div>
                            <div class="notif col-xs-6">
                             <a href="{% url 'accounts:accept_or_refuse' friendship.id 2 %}" class="btn btn-refuse button-notif">Refuse</a></div>
                            </div>
                    </li>
                    {% endfor %}</ul>
                <div class="clearfix"></div>
            </div>
            </div>
            
    </div>  
    {% endif %} 
    
    
    <div class="clearfix"></div>
    
    <nav id="sidebar-nav">  
        <ul id="vertical-sidebar-nav" class="sf-menu">
            <li class="normal-item-pro current-menu-item">
                <a href="/movies">
        <span class="icon-Reel"></span>
                    Movies
                </a>
            </li>
            
            <li class="normal-item-pro">
                <a href="#">
        <span class="icon-Old-TV"></span>
                    TV Show
                </a>
            </li>
            <li class="normal-item-pro">
                <a href="#">
        <span class="icon-Movie-Ticket"></span>
                    New Arrivals
                </a>
            </li>
            <li class="normal-item-pro">
                <a href="#">
        <span class="icon-Clock"></span>
                    Coming Soon
                </a>
            </li>

        </ul>
<div class="clearfix"></div>
</nav>

    
    </header>
